{"openapi":"3.1.1","info":{"title":"artificial.agency - Behavior Engine Platform API","description":"\n## Authentication\n\nAll API requests should include your API key in an `Authorization` HTTP header, like this:\n\n```text\nAuthorization: Bearer API_KEY\n```\n\n## Versioning\n\nRequests should include an `AA-API-Version` indicating the API version that the client supports, like this:\n\n```text\nAA-API-Version: 2025-05-15\n```\n\n### Version History\n\n- `2025-05-15`:\n    - \"Create Agent\" request: Moved `metadata` from the top level into the new `ui_config` property.\n    - \"Agent\" response resource: Moved `metadata` from the top level into the new `ui_config` property.\n- `2024-09-01`:\n    - Initial release.\n\n## Errors\n\nErrors are formatted like this:\n\n```json\n{\n  \"error\": {\n    \"type\": \"...\",    // an enum indicating the broad class of error\n    \"message\": \"...\", // a human-readable error message\n    \"trace\": \"...\"    // a string that uniquely identifies the failed API request\n  }\n}\n```\n    ","version":"v1"},"servers":[{"url":"https://api.artificial.agency/"}],"paths":{"/v1/advanced/sessions/{session_id}/agents":{"post":{"tags":["agent"],"summary":"Create Agent","description":"Creates an agent within a session.","operationId":"Create_Agent_v1_advanced_sessions__session_id__agents_post","parameters":[{"required":true,"deprecated":false,"schema":{"type":"string"},"name":"session_id","in":"path","allowEmptyValue":false,"allowReserved":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParamsV1"},"example":{"ui_config":{"friendly_name":"Stuart","emoji":"🦄","metadata":{"character-name":"Chiron","character-version":"0.1"}},"role_config":{"core":"You are a character in a video game.","characterization":"You are a centaur living in the ancient forest.","max_size":1000},"presentation_config":{"token_limits":{"cue":100,"function":1000,"history":10000,"kv_content":1000},"presentation_order":[["history","items"],["facts","data"]]},"component_configs":[{"id":"history","max_entries":10000,"token_category":"history","type":"limited_list"},{"delimiter":":","id":"facts","token_category":"kv_content","type":"kv_store"}],"service_configs":[{"id":"default_llm","service_name":"sting-like-a-bee","llm_param_1":"value1","llm_param_2":5}],"agent_llm":"default_llm"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agent"},"example":{"id":"agent_2q09dE8hbUceZc8B5twFu9o4fZQ","session_id":"sess_2q09dE8hbUceZc8B5twFu9o4fZQ","moment_id":1,"moment_uuid":"moment_2q09dE8hbUceZc8B5twFu9o4fZQ","ui_config":{"friendly_name":"Stuart","emoji":"🦄","metadata":{"character-name":"Chiron","character-version":"0.1"}}}}}}},"deprecated":false}},"/v1/sessions":{"post":{"tags":["session"],"summary":"Create Session","description":"Creates a session.","operationId":"Create_Session_v1_sessions_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bagel__api__methods__create_session__Params"},"example":{"project_id":"proj_2q09W1uIa3LIWK7S0WxiVYAJXub","metadata":{"game-version":"5.1b","player-id":"438d1c6c-2ddd-4d88-9193-6735240427e9"}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"},"example":{"id":"sess_2q09dE8hbUceZc8B5twFu9o4fZQ","latest_moment_id":"0","created_at":1680318000,"project_id":"proj_2q09W1uIa3LIWK7S0WxiVYAJXub","metadata":{"game-version":"5.1b","player-id":"438d1c6c-2ddd-4d88-9193-6735240427e9"},"expires_at":1680328800,"max_requests":null}}}}},"deprecated":false}},"/v1/sessions/{original_session_id}/clone":{"post":{"tags":["session"],"summary":"Clone Session","description":"Clones a session.","operationId":"Clone_Session_v1_sessions__original_session_id__clone_post","parameters":[{"required":true,"deprecated":false,"schema":{"type":"string"},"name":"original_session_id","in":"path","allowEmptyValue":false,"allowReserved":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bagel__api__methods__clone_session__Params"},"example":{"moment_id":null,"agent_moments":{"agent_364t915biI18kiCCCCEu14uw4TV":"23","agent_364tBQ9A4PUQqYE57wOM8rYDyuc":"25"},"project_id":"proj_2q09W1uIa3LIWK7S0WxiVYAJXub","metadata":{"game-version":"5.1b","player-id":"438d1c6c-2ddd-4d88-9193-6735240427e9"}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"},"example":{"id":"sess_2q09dE8hbUceZc8B5twFu9o4fZQ","latest_moment_id":"23","created_at":1680318000,"project_id":"proj_2q09W1uIa3LIWK7S0WxiVYAJXub","metadata":{"game-version":"5.1b","player-id":"438d1c6c-2ddd-4d88-9193-6735240427e9"},"expires_at":1680328800,"max_requests":null}}}}},"deprecated":false}},"/v1/sessions/{session_id}/agents/{agent_id}/messages":{"post":{"tags":["behavior"],"summary":"Add Messages","description":"Add messages to an agent's message stream.","operationId":"Add_Messages_v1_sessions__session_id__agents__agent_id__messages_post","parameters":[{"required":true,"deprecated":false,"schema":{"type":"string"},"name":"session_id","in":"path","allowEmptyValue":false,"allowReserved":false},{"required":true,"deprecated":false,"schema":{"type":"string"},"name":"agent_id","in":"path","allowEmptyValue":false,"allowReserved":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bagel__api__methods__add_messages__Params"},"example":{"messages":[{"message_type":"ContentMessage","content":"You see a wildebeest frolicking in the distance."},{"message_type":"KVMessage","key":"Ammo","value":"4"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessagesAdded"},"example":{"moment_id":"0"}}}}},"deprecated":false}},"/v1/sessions/{session_id}/agents/{agent_id}/generate_text":{"post":{"tags":["behavior"],"summary":"Generate Text","description":"Ask the agent to generate text.","operationId":"Generate_Text_v1_sessions__session_id__agents__agent_id__generate_text_post","parameters":[{"required":true,"deprecated":false,"schema":{"type":"string"},"name":"session_id","in":"path","allowEmptyValue":false,"allowReserved":false},{"required":true,"deprecated":false,"schema":{"type":"string"},"name":"agent_id","in":"path","allowEmptyValue":false,"allowReserved":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bagel__api__methods__generate_text__Params"},"example":{"messages":[{"content":"The player says: Greetings.","message_type":"ContentMessage"}],"cue":"Generate a brief greeting that might be given by a Plutonian."}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextGenerated"},"example":{"moment_id":"0","text":"Cold light guide you, traveler."}}}}},"deprecated":false}},"/v1/sessions/{session_id}/agents/{agent_id}/generate_function_call":{"post":{"tags":["behavior"],"summary":"Generate Function Call","description":"Ask the agent to generate a function call.","operationId":"Generate_Function_Call_v1_sessions__session_id__agents__agent_id__generate_function_call_post","parameters":[{"required":true,"deprecated":false,"schema":{"type":"string"},"name":"session_id","in":"path","allowEmptyValue":false,"allowReserved":false},{"required":true,"deprecated":false,"schema":{"type":"string"},"name":"agent_id","in":"path","allowEmptyValue":false,"allowReserved":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bagel__api__methods__generate_function_call__Params"},"example":{"messages":[{"content":"You see nearby: LabAgent_Humanoid_94544 (hostile)","message_type":"ContentMessage"}],"functions":[{"docs":"Attack another character.","name":"attack","parameters":{"target":{"docs":"The ID of the character to attack.","value_type":"string"}},"required":["target"]}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FunctionCallGenerated"},"example":{"moment_id":"0","function_call":{"id":"fn_call_2yKEWVVtUVB0n07EoW56I3RHPZU","name":"attack","args":{"target":"LabAgent_Humanoid_94544"}}}}}}},"deprecated":false}},"/v1/sessions/{session_id}/agents/{agent_id}/generate_json":{"post":{"tags":["behavior"],"summary":"Generate JSON","description":"Ask the agent to generate JSON with a given schema.","operationId":"Generate_JSON_v1_sessions__session_id__agents__agent_id__generate_json_post","parameters":[{"required":true,"deprecated":false,"schema":{"type":"string"},"name":"session_id","in":"path","allowEmptyValue":false,"allowReserved":false},{"required":true,"deprecated":false,"schema":{"type":"string"},"name":"agent_id","in":"path","allowEmptyValue":false,"allowReserved":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bagel__api__methods__generate_json__Params"},"example":{"cue":"Generate a cat.","schema":{"type":"object","properties":{"species":{"type":"string","description":"The latin name of a species."},"hp":{"type":"integer","description":"Number of hit points this creature should have."}},"required":["species","hp"]}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JSONGenerated"},"example":{"moment_id":"0","json":{"species":"Felis catus","hp":1}}}}}},"deprecated":false}},"/v1/projects":{"get":{"tags":["project"],"summary":"List Projects","description":"Returns a list of the projects in your organization.","operationId":"List_Projects_v1_projects_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_Project_"},"example":{"object":"list","has_more":false,"data":[{"object":"project","id":"proj_2hFcOxEIMdsHNWrq2TYjuXrSCiU","name":"Sample Project","archived":false}]}}}}},"deprecated":false}},"/v1/services":{"get":{"tags":["services"],"summary":"List Services","description":"Returns a list of the services defined for your organization.","operationId":"List_Services_v1_services_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_Service_"},"example":{"has_more":false,"data":[{"service_name":"my_fast_llm","description":"A fast and affordable LLM.","base_type":"artificial-agency/torque-pocket","service_category":"llm","fixed_params":{"max_tokens":1000},"client_params":{"temperature":{"title":"temperature","description":"Influences the randomness of the output.","anyOf":[{"type":"number","minimum":0.0,"maximum":1.0},{"type":"null"}],"default":1}}}]}}}}},"deprecated":false}}},"components":{"schemas":{"Agent":{"properties":{"id":{"type":"string","title":"Id","description":"The ID of the agent. The ID is unique to this agent, but is maintained across sessions that the agent exists in (e.g.: via session cloning)."},"session_id":{"type":"string","title":"Session Id","description":"The ID of the session that this agent belongs to."},"moment_id":{"type":"integer","title":"Moment Id","description":"The moment ID in the session this response is associated with."},"moment_uuid":{"type":"string","title":"Moment Uuid","description":"The UUID of the moment this response is associated with."},"ui_config":{"$ref":"#/components/schemas/UIConfig","description":"Configuration for this agent in the Artificial Agency web UI.  The agent is completely unaware of this configuration, and none of these values should be used in game/agent interactions."}},"additionalProperties":false,"type":"object","required":["id","session_id","moment_id","moment_uuid"],"title":"Agent"},"ArrayParameter":{"properties":{"value_type":{"type":"string","const":"array","title":"Value Type","default":"array"},"docs":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Docs"},"items":{"oneOf":[{"$ref":"#/components/schemas/SimpleParameter"},{"$ref":"#/components/schemas/ArrayParameter"},{"$ref":"#/components/schemas/ObjectParameter"}],"title":"Items","discriminator":{"propertyName":"value_type","mapping":{"array":"#/components/schemas/ArrayParameter","boolean":"#/components/schemas/SimpleParameter","integer":"#/components/schemas/SimpleParameter","null":"#/components/schemas/SimpleParameter","number":"#/components/schemas/SimpleParameter","object":"#/components/schemas/ObjectParameter","string":"#/components/schemas/SimpleParameter"}}}},"additionalProperties":false,"type":"object","required":["docs","items"],"title":"ArrayParameter"},"ContentMessage":{"properties":{"message_type":{"type":"string","const":"ContentMessage","title":"Message Type","default":"ContentMessage"},"channels":{"items":{"type":"string"},"type":"array","title":"Channels","examples":[[],[]]},"ignorable":{"type":"boolean","title":"Ignorable","description":"When False, a request that includes this message will be considered invalid if no components accept the message. When True, the message will be silently dropped if no component accepts it.","default":false},"content":{"type":"string","title":"Content","description":"An arbitrary string of content.","examples":["You joined the server 0.7 seconds ago. Current UTC time in the real-world is: 07:05:10","New perceptions: Apple at at (-1, -60, 1)"]},"function_call":{"anyOf":[{"$ref":"#/components/schemas/bagel__api__params__ContentMessage__FunctionCall"},{"type":"null"}],"description":"Details linking the content in this message to a previously-generated function."}},"additionalProperties":false,"type":"object","required":["content"],"title":"ContentMessage"},"FunctionCallGenerated":{"properties":{"moment_id":{"type":"string","title":"Moment Id","description":"An identifier that can be used to restore the session's state."},"function_call":{"$ref":"#/components/schemas/bagel__api__methods__generate_function_call__FunctionCallGenerated__FunctionCall","description":"A function call generated by the agent."}},"additionalProperties":false,"type":"object","required":["moment_id","function_call"],"title":"FunctionCallGenerated"},"FunctionDescription":{"properties":{"name":{"type":"string","maxLength":64,"minLength":1,"pattern":"^[a-zA-Z0-9_-]+$","title":"Name"},"docs":{"type":"string","maxLength":1024,"title":"Docs"},"parameters":{"additionalProperties":{"oneOf":[{"$ref":"#/components/schemas/SimpleParameter"},{"$ref":"#/components/schemas/ArrayParameter"},{"$ref":"#/components/schemas/ObjectParameter"}],"discriminator":{"propertyName":"value_type","mapping":{"array":"#/components/schemas/ArrayParameter","boolean":"#/components/schemas/SimpleParameter","integer":"#/components/schemas/SimpleParameter","null":"#/components/schemas/SimpleParameter","number":"#/components/schemas/SimpleParameter","object":"#/components/schemas/ObjectParameter","string":"#/components/schemas/SimpleParameter"}}},"type":"object","title":"Parameters"},"required":{"items":{"type":"string"},"type":"array","title":"Required"}},"additionalProperties":false,"type":"object","required":["name","docs","parameters","required"],"title":"FunctionDescription"},"FunctionHinterConfig":{"properties":{"type":{"type":"string","const":"function_hinter","title":"Type","description":"A component that provides a hint to the agent about which functions are available to call.\n\nContent can be truncated to token category limit: No\n\n\n### Accepts Messages\n\n*(none)*\n\n### Presentation Elements\n\n- **hint**: Lists of available functions\n","default":"function_hinter"},"id":{"type":"string","title":"Id","description":"The ID of the component.  This is a unique client-assigned name used to refer to this component in other parts of the agent configuration."},"token_category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Category","description":"The token category from presentation_config.token_limits that presentation elements from this component count against."},"message_channels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Message Channels","description":"The channels on which to listen for messages.","default":[]},"transient":{"type":"boolean","title":"Transient","description":"If True, the component is transient and does not persist state between API requests.  This means that it will only present data sent within a call to a generate-* endpoint; messages posted directly to the agent will be immediately dropped.","default":false},"prefix":{"type":"string","title":"Prefix","description":"A prefix for the function hint when presented to the agent.","default":"You must call one of these functions:"}},"additionalProperties":false,"type":"object","required":["id"],"title":"Function Hinter Component"},"JSONGenerated":{"properties":{"moment_id":{"type":"string","title":"Moment Id","description":"An identifier that can be used to restore the session's state."},"json":{"title":"Json","description":"JSON generated by the agent."}},"additionalProperties":false,"type":"object","required":["moment_id","json"],"title":"JSONGenerated"},"KVDelTreeMessage":{"properties":{"message_type":{"type":"string","const":"KVDelTreeMessage","title":"Message Type","description":"The type of message","examples":["ContentMessage","KVMessage"]},"channels":{"items":{"type":"string"},"type":"array","title":"Channels","examples":[["combat"],[""]]},"ignorable":{"type":"boolean","title":"Ignorable","description":"When False, a request that includes this message will be considered invalid if no components accept the message. When True, the message will be silently dropped if no component accepts it.","default":false},"key":{"type":"string","title":"Key","description":"The root key to delete. Any value at this key and any subkeys will be removed.  This message will only remove a single key in KV stores that are not configured to use hierarchical keys.","examples":["character.status_effects"]}},"additionalProperties":false,"type":"object","required":["message_type","key"],"title":"KVDelTreeMessage"},"KVMessage":{"properties":{"message_type":{"type":"string","const":"KVMessage","title":"Message Type","default":"KVMessage"},"channels":{"items":{"type":"string"},"type":"array","title":"Channels","examples":[["attributes"],[""]]},"ignorable":{"type":"boolean","title":"Ignorable","description":"When False, a request that includes this message will be considered invalid if no components accept the message. When True, the message will be silently dropped if no component accepts it.","default":false},"key":{"type":"string","title":"Key","description":"The key of the key-value pair.","examples":["health","inventory"]},"value":{"anyOf":[{"type":"string"},{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Value","description":"The value of the key-value pair.  Setting the value to null will remove the key from the key-value store.","examples":["5",["candle x3","goblet"]]}},"additionalProperties":false,"type":"object","required":["key","value"],"title":"KVMessage"},"KVStoreConfig":{"properties":{"type":{"type":"string","const":"kv_store","title":"Type","description":"A key-value store component that supports hierarchical keys.  When hierarchical keys are used, non-leaf keys may have a value in addition to having sub-keys.  Setting a value to null will delete the value. If the key has no value and no subkeys, it will be deleted. If the parent key no longer has a value or any sub-keys, the parent will also be deleted.\n\nContent can be truncated to token category limit: No\n\n\n### Accepts Messages\n\n- KVMessage\n\n### Presentation Elements\n\n- **data**: The stored key-value pairs\n","default":"kv_store"},"id":{"type":"string","title":"Id","description":"The ID of the component.  This is a unique client-assigned name used to refer to this component in other parts of the agent configuration."},"token_category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Category","description":"The token category from presentation_config.token_limits that presentation elements from this component count against."},"message_channels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Message Channels","description":"The channels on which to listen for messages.","default":[]},"transient":{"type":"boolean","title":"Transient","description":"If True, the component is transient and does not persist state between API requests.  This means that it will only present data sent within a call to a generate-* endpoint; messages posted directly to the agent will be immediately dropped.","default":false},"delimiter":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Delimiter","description":"An optional delimiter to separate hierarchy level names in compound keys. Often a single character (e.g. '.', '/'), but may be any string (e.g. '::', '->'). If set, the store will be a hierarchical key-value store with a nested-mapping structure. If not set, the store will be a flat key-value store without any key splitting. Note that setting the value of an intermediate hierarchy level in a hierarchical store to None will deleted the entire hierarchy level.  E.g. Setting 'a.b' to None will delete 'a.b.c' and 'a.b.d'.  A flat store only operates on full keys."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of the items in the store that will appear before the store content."},"indent":{"type":"string","title":"Indent","description":"The string to use for indentation when presenting hierarchical data.","default":"  "}},"additionalProperties":false,"type":"object","required":["id"],"title":"Key-Value Store Component"},"LimitedListConfig":{"properties":{"type":{"type":"string","const":"limited_list","title":"Type","description":"A list that stores a limited number of items.\n\nContent can be truncated to token category limit: Yes\n\n\n### Accepts Messages\n\n- ContentMessage\n\n### Presentation Elements\n\n- **items**: The stored items, undecorated\n- **itemized**: The stored items, as a bulleted list\n","default":"limited_list"},"id":{"type":"string","title":"Id","description":"The ID of the component.  This is a unique client-assigned name used to refer to this component in other parts of the agent configuration."},"token_category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Category","description":"The token category from presentation_config.token_limits that presentation elements from this component count against."},"message_channels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Message Channels","description":"The channels on which to listen for messages.","default":[]},"transient":{"type":"boolean","title":"Transient","description":"If True, the component is transient and does not persist state between API requests.  This means that it will only present data sent within a call to a generate-* endpoint; messages posted directly to the agent will be immediately dropped.","default":false},"max_entries":{"type":"integer","exclusiveMinimum":0.0,"title":"Max Entries","description":"The maximum number of items to store in the list.  If the list exceeds this size, the oldest items will be removed.  Note that the oldest items may not be presented to the LLM if this would exceed the LLM context size or the presentation_config.token_limit for the category assigned to this component.","default":1000},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of what this list contains that will appear before the list content in both plain and itemized forms."},"accept_generation":{"type":"boolean","title":"Accept Generation","description":"If True, the agent's response to generation requests will be appended to the list.","default":true}},"additionalProperties":false,"type":"object","required":["id"],"title":"Limited List Component"},"ListResponse_Project_":{"properties":{"object":{"type":"string","const":"list","title":"Object","default":"list"},"has_more":{"type":"boolean","title":"Has More"},"data":{"items":{"$ref":"#/components/schemas/Project"},"type":"array","title":"Data"}},"additionalProperties":false,"type":"object","required":["has_more","data"],"title":"ListResponse[Project]"},"ListResponse_Service_":{"properties":{"object":{"type":"string","const":"list","title":"Object","default":"list"},"has_more":{"type":"boolean","title":"Has More"},"data":{"items":{"$ref":"#/components/schemas/Service"},"type":"array","title":"Data"}},"additionalProperties":false,"type":"object","required":["has_more","data"],"title":"ListResponse[Service]"},"MessagesAdded":{"properties":{"moment_id":{"type":"string","title":"Moment Id","description":"An identifier that can be used to restore the session's state."}},"additionalProperties":false,"type":"object","required":["moment_id"],"title":"MessagesAdded"},"ObjectParameter":{"properties":{"value_type":{"type":"string","const":"object","title":"Value Type","default":"object"},"docs":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Docs"},"properties":{"additionalProperties":{"oneOf":[{"$ref":"#/components/schemas/SimpleParameter"},{"$ref":"#/components/schemas/ArrayParameter"},{"$ref":"#/components/schemas/ObjectParameter"}],"discriminator":{"propertyName":"value_type","mapping":{"array":"#/components/schemas/ArrayParameter","boolean":"#/components/schemas/SimpleParameter","integer":"#/components/schemas/SimpleParameter","null":"#/components/schemas/SimpleParameter","number":"#/components/schemas/SimpleParameter","object":"#/components/schemas/ObjectParameter","string":"#/components/schemas/SimpleParameter"}}},"type":"object","title":"Properties"},"required":{"items":{"type":"string"},"type":"array","title":"Required"}},"additionalProperties":false,"type":"object","required":["docs","properties","required"],"title":"ObjectParameter"},"ParamsV1":{"properties":{"ui_config":{"$ref":"#/components/schemas/UIConfig","description":"UI configuration for the agent. This is used to configure the presentation of the agent in the UI."},"role_config":{"$ref":"#/components/schemas/RoleConfig"},"presentation_config":{"$ref":"#/components/schemas/PresentationConfig"},"component_configs":{"items":{"oneOf":[{"$ref":"#/components/schemas/FunctionHinterConfig"},{"$ref":"#/components/schemas/StaticTextConfig"},{"$ref":"#/components/schemas/TextBlockConfig"},{"$ref":"#/components/schemas/KVStoreConfig"},{"$ref":"#/components/schemas/LimitedListConfig"},{"$ref":"#/components/schemas/PuppeteerLimitedListConfig"},{"$ref":"#/components/schemas/PuppeteerKVStoreConfig"}],"discriminator":{"propertyName":"type","mapping":{"function_hinter":"#/components/schemas/FunctionHinterConfig","kv_store":"#/components/schemas/KVStoreConfig","limited_list":"#/components/schemas/LimitedListConfig","puppeteer_kv_store":"#/components/schemas/PuppeteerKVStoreConfig","puppeteer_limited_list":"#/components/schemas/PuppeteerLimitedListConfig","static_text":"#/components/schemas/StaticTextConfig","text_block":"#/components/schemas/TextBlockConfig"}}},"type":"array","title":"Component Configs","description":"List of components to use for this agent. Components maintain state that is rendered into the LLM prompt."},"service_configs":{"items":{"$ref":"#/components/schemas/ServiceConfig"},"type":"array","title":"Service Configs","description":"List of services to use for this agent. Services generate data to determine the agent's behavior."},"agent_llm":{"type":"string","title":"Agent Llm","description":"The LLM to use for the agent.  Must be the id of an LLM service defined in service_configs."}},"additionalProperties":false,"type":"object","required":["role_config","presentation_config","agent_llm"],"title":"ParamsV1"},"PresentationConfig":{"properties":{"token_limits":{"additionalProperties":{"type":"integer"},"type":"object","title":"Token Limits","description":"Maximum number of tokens for each category of content.  There are two built-in categories: `function` and `cue`. The `function` category is used to limit the size of function definitions passed to the `generate_function_call` endpoint.  The `cue` category is used to limit the size of the cue passed to all generation endpoints. Other categories are client-defined strings, and can be set in the `token_category` field of component configurations to apply this limit to that component.  All components with the same `token_category` count against the same limit.  If a category limit is reached, subsequent content in that category will be truncated if possible. If truncation is not possible, the generation request will be rejected as invalid.","default":{}},"presentation_order":{"items":{"prefixItems":[{"type":"string"},{"type":"string"}],"type":"array","maxItems":2,"minItems":2},"type":"array","title":"Presentation Order","description":"Ordering of presentation elements to use when building LLM interactions. Each list entry is a pair of (component_id, presentation_element). component_id must be the id of a component from component_configs. presentation_element must be one of the presentation elements supported by the component's type.","default":[]}},"additionalProperties":false,"type":"object","title":"Presentation Configuration","description":"Configuration for presenting agent state to an inference service."},"Project":{"properties":{"object":{"type":"string","const":"project","title":"Object","default":"project"},"id":{"type":"string","title":"Id","description":"Unique identifier for the object."},"name":{"type":"string","title":"Name","description":"Name of the project"},"archived":{"type":"boolean","title":"Archived","description":"True if the project has been archived."}},"additionalProperties":false,"type":"object","required":["id","name","archived"],"title":"Project"},"PuppeteerKVStoreConfig":{"properties":{"type":{"type":"string","const":"puppeteer_kv_store","title":"Type","description":"An (optionally) hierarchical key-value store designed for a puppeteer agent that merges identical key-value pairs across puppets. All entries are tagged with the puppet_id of the associated puppet(s).Non-leaf keys may have values for puppets in addition to having sub-keys.  Setting a key to null for a puppet will remove that puppet from all values at that key.  If no puppets have values at this key and there are no subkeys below this key, the key will be removed. If the parent key has no puppet vales and no subkeys, it will also be removed.\n\nContent can be truncated to token category limit: No\n\n\n### Accepts Messages\n\n- PuppeteerMessage (only KVMessage entries)\n\n### Presentation Elements\n\n- **merged**: The store content.\n","default":"puppeteer_kv_store"},"id":{"type":"string","title":"Id","description":"The ID of the component.  This is a unique client-assigned name used to refer to this component in other parts of the agent configuration."},"token_category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Category","description":"The token category from presentation_config.token_limits that presentation elements from this component count against."},"message_channels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Message Channels","description":"The channels on which to listen for messages.","default":[]},"transient":{"type":"boolean","title":"Transient","description":"If True, the component is transient and does not persist state between API requests.  This means that it will only present data sent within a call to a generate-* endpoint; messages posted directly to the agent will be immediately dropped.","default":false},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of what this kv-store represents, that will appearbefore the store content."},"delimiter":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Delimiter","description":"An optional delimiter to separate hierarchy level names in compound keys. Often a single character (e.g. '.', '/'), but may be any string (e.g. '::', '->'). If set, the store will be a hierarchical key-value store with a nested-mapping structure. If not set, the store will be a flat key-value store without any key splitting. Note that setting the value of an intermediate hierarchy level to None for a puppet will remove that puppet from all sub-keys below that level (without impacting other puppets). E.g. Setting 'a.b' to None for puppet-1 will remove puppet-1 from any values for 'a.b.c' and 'a.b.d', but leave those values associated with other puppets.  If all puppets are removed from a value, the entire value is removed.  A flat store only operates on full keys."},"indent":{"type":"string","title":"Indent","description":"The string to use for indentation when presenting hierarchical data.","default":"  "}},"additionalProperties":false,"type":"object","required":["id"],"title":"PuppeteerKVStoreConfig"},"PuppeteerLimitedListConfig":{"properties":{"type":{"type":"string","const":"puppeteer_limited_list","title":"Type","description":"A list designed for a puppeteer agent that stores a limited number ofentries, but merges identical content in the same request for different puppets into a single entry.  All entries are tagged with the puppet_id of the associated puppet(s). No ordering is guaranteed between content entries received as part of the same request.\n\nContent can be truncated to token category limit: Yes\n\n\n### Accepts Messages\n\n- PuppeteerMessage (only ContentMessage entries)\n\n### Presentation Elements\n\n- **merged**: The stored items, undecorated\n- **itemized_merged**: The stored items, as a bulleted list\n","default":"puppeteer_limited_list"},"id":{"type":"string","title":"Id","description":"The ID of the component.  This is a unique client-assigned name used to refer to this component in other parts of the agent configuration."},"token_category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Category","description":"The token category from presentation_config.token_limits that presentation elements from this component count against."},"message_channels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Message Channels","description":"The channels on which to listen for messages.","default":[]},"transient":{"type":"boolean","title":"Transient","description":"If True, the component is transient and does not persist state between API requests.  This means that it will only present data sent within a call to a generate-* endpoint; messages posted directly to the agent will be immediately dropped.","default":false},"max_entries":{"type":"integer","exclusiveMinimum":0.0,"title":"Max Entries","description":"The maximum number of items to store in the list.  If the list exceeds this size, the oldest items will be removed.  Note that the oldest items may not be presented to the LLM if this would exceed the LLM context size or the presentation_config.token_limit for the category assigned to this component. If when identical entries are merged between puppets, this counts as a single entry.","default":1000},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of what this list contains that will appear before the list content in both merged and itemized_merged forms."},"accept_generation":{"type":"boolean","title":"Accept Generation","description":"If True, the agent's response to generation requests will be appended to the list.","default":false}},"additionalProperties":false,"type":"object","required":["id"],"title":"Puppeteer Limited List Component"},"PuppeteerMessage":{"properties":{"message_type":{"type":"string","const":"PuppeteerMessage","title":"Message Type","default":"PuppeteerMessage"},"channels":{"items":{"type":"string"},"type":"array","title":"Channels","examples":[["combat"],[""]]},"ignorable":{"type":"boolean","title":"Ignorable","description":"When False, a request that includes this message will be considered invalid if no components accept the message. When True, the message will be silently dropped if no component accepts it.","default":false},"puppet_id":{"type":"string","title":"Puppet Id","description":"The ID of the puppet.","examples":["lisa_135"]},"contents":{"items":{"anyOf":[{"$ref":"#/components/schemas/ContentMessage"},{"$ref":"#/components/schemas/KVMessage"},{"$ref":"#/components/schemas/KVDelTreeMessage"}]},"type":"array","title":"Contents","description":"Messages related to this puppet.","examples":[[{"content":"The goblin stabs you.","message_type":"ContentMessage"},{"key":"status.effect","message_type":"KVMessage","value":"bleeding"},{"content":"You take 3 damage.","message_type":"ContentMessage"},{"key":"status.health","message_type":"KVMessage","value":"5"}]]}},"additionalProperties":false,"type":"object","required":["puppet_id","contents"],"title":"PuppeteerMessage"},"RoleConfig":{"properties":{"core":{"type":"string","title":"Core","description":"The core operating instructions for an agent, describing how to call functions and boundaries on acceptable content. This should not be game-specific or character-specific."},"characterization":{"type":"string","title":"Characterization","description":"Game-specific and role-specific instructions for the agent. This can include information about the game world and the agent's role in it."},"max_size":{"type":"integer","minimum":0.0,"title":"Max Size","description":"The maximum size, in characters, for the combination of core and characterization.  If 0, there is no limit.","default":0}},"additionalProperties":false,"type":"object","required":["core","characterization"],"title":"Role Configuration","description":"Define the core operating instructions for the agent."},"SchemaRoot":{"properties":{"type":{"type":"string","const":"object","title":"Type"},"properties":{"type":"object","title":"Properties"},"required":{"items":{"type":"string"},"type":"array","title":"Required"}},"additionalProperties":false,"type":"object","required":["type","properties","required"],"title":"SchemaRoot"},"Service":{"properties":{"service_name":{"type":"string","title":"Service Name","description":"Name of the service"},"base_type":{"type":"string","title":"Base Type","description":"Base type of the service, e.g. 'artificial-agency/torque-pocket'"},"service_category":{"type":"string","title":"Service Category","description":"Service category type, e.g. 'llm'"},"description":{"type":"string","title":"Description","description":"Description of the service"},"fixed_params":{"additionalProperties":{"anyOf":[{"type":"integer"},{"type":"number"},{"type":"string"},{"type":"boolean"}]},"type":"object","title":"Fixed Params","description":"Fixed parameters for the service, as set in the dashboard.  These values cannot be changed when using the service.  This is a flat dictionary of key-value pairs, from each parameter's name to its fixed value."},"client_params":{"additionalProperties":{"type":"object"},"type":"object","title":"Client Params","description":"Parameters for the service. These values can be changed when using the service, and are required if there is no default value for the parameter. Each parameter is described using JSON-schema, with parameter values limited to primitive types (not objects or arrays).\nSome possible fields include:\n * title: The name of the parameter.\n * description: A description of the parameter.\n * type: The primitive type of a non-nullable parameter.\n * default: The default value for the parameter.\n * anyOf: compound constraints, such as for a nullable string: [{\"type\": \"string\"}, {\"type\": \"null\"}].  Value constraints on the type (eg, minLength, maxLength, minimum, maximum) may also be included with the associated type.\n * minimum, maximum: minimum and maximum values for a numeric parameter.\n * minLength, maxLength: minimum and maximum length for a string parameter.\n"}},"additionalProperties":false,"type":"object","required":["service_name","base_type","service_category","description","fixed_params","client_params"],"title":"Service"},"ServiceConfig":{"properties":{"service_name":{"type":"string","title":"Service Name","description":"The name assigned to a type of service in the Artificial Agency dashboard."},"id":{"type":"string","title":"Id","description":"The ID of the service.  This is a unique client-assigned name used to refer to this service in other parts of the agent configuration."}},"additionalProperties":true,"type":"object","required":["service_name","id"],"title":"ServiceConfig"},"Session":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for this session."},"latest_moment_id":{"type":"string","title":"Latest Moment Id","description":"The latest moment ID in this session.  When the next moment is created in this session, it will have a moment_id that is greater than this value."},"created_at":{"type":"integer","title":"Created At","description":"A Unix timestamp indicating when the session was created."},"project_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Project Id","description":"ID of the project that this session is attributed to."},"metadata":{"additionalProperties":{"type":"string"},"type":"object","title":"Metadata","description":"Set of key-value pairs attached to this session. This can be useful for storing additional information about the object in a structured format."},"expires_at":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Expires At","description":"The time that this session will expire, expressed as seconds since the Unix epoch.\n\nAfter this time has expired, requests to generate behavior within this session will fail. If null, this session is not limited by time."},"max_requests":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Max Requests","description":"A number of requests that this session will remain active for.\n\nAfter this number of requests have been made, requests to generate behavior within this session will fail. If null, this session is not limited by a number of requests."}},"additionalProperties":false,"type":"object","required":["id","latest_moment_id","created_at","project_id","metadata","expires_at","max_requests"],"title":"Session"},"SimpleParameter":{"properties":{"value_type":{"type":"string","enum":["string","integer","number","boolean","null"],"title":"Value Type"},"docs":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Docs"},"enumeration":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Enumeration"}},"additionalProperties":false,"type":"object","required":["value_type","docs"],"title":"SimpleParameter"},"StaticTextConfig":{"properties":{"type":{"type":"string","const":"static_text","title":"Type","description":"A component that presents static text to the agent.\n\nContent can be truncated to token category limit: No\n\n\n### Accepts Messages\n\n*(none)*\n\n### Presentation Elements\n\n- **text**: The stored text\n","default":"static_text"},"id":{"type":"string","title":"Id","description":"The ID of the component.  This is a unique client-assigned name used to refer to this component in other parts of the agent configuration."},"token_category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Category","description":"The token category from presentation_config.token_limits that presentation elements from this component count against."},"message_channels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Message Channels","description":"The channels on which to listen for messages.","default":[]},"transient":{"type":"boolean","title":"Transient","description":"If True, the component is transient and does not persist state between API requests.  This means that it will only present data sent within a call to a generate-* endpoint; messages posted directly to the agent will be immediately dropped.","default":false},"text":{"type":"string","title":"Text","description":"The text to present to the agent.  This text cannot be changed."}},"additionalProperties":false,"type":"object","required":["id","text"],"title":"Static Text Component"},"TextBlockConfig":{"properties":{"type":{"type":"string","const":"text_block","title":"Type","description":"A component that presents stored text to the agent until a message changes the text.  Set transient=True to not store the text between requests.\n\nContent can be truncated to token category limit: No\n\n\n### Accepts Messages\n\n- ContentMessage\n\n### Presentation Elements\n\n- **text**: The stored text\n","default":"text_block"},"id":{"type":"string","title":"Id","description":"The ID of the component.  This is a unique client-assigned name used to refer to this component in other parts of the agent configuration."},"token_category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Category","description":"The token category from presentation_config.token_limits that presentation elements from this component count against."},"message_channels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Message Channels","description":"The channels on which to listen for messages.","default":[]},"transient":{"type":"boolean","title":"Transient","description":"If True, the component is transient and does not persist state between API requests.  This means that it will only present data sent within a call to a generate-* endpoint; messages posted directly to the agent will be immediately dropped.","default":false}},"additionalProperties":false,"type":"object","required":["id"],"title":"Text Block Component"},"TextGenerated":{"properties":{"moment_id":{"type":"string","title":"Moment Id","description":"An identifier that can be used to restore the session's state."},"text":{"type":"string","title":"Text","description":"Text generated by the agent."}},"additionalProperties":false,"type":"object","required":["moment_id","text"],"title":"TextGenerated"},"Type":{"type":"string","enum":["failure","warning","success","update"],"title":"Type"},"UIConfig":{"properties":{"friendly_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Friendly Name","description":"A friendly name for the agent."},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Emoji","description":"Either an emoji shortcode or a literal emoji to identify the agent.\nWhen specified as a shortcode, must be a valid emoji shortcode, including the wrapping ':'s. For example: \n```\n  \"emoji\": \":ninja:\"\n```\n\nWhen specified as a literal emoji, must be a Unicode sequence representing a single emoji. For example, in UTF-8 the JSON representation of the \"ninja\" emoji would be:\n```\n  \"emoji\": \"\\ud83e\\udd77\"\n```\n\nThe JSON representation of the Bulgarian flag would be:\n```\n  \"emoji\": \"\\ud83c\\udde7\\ud83c\\uddec\"\n```\n\n"},"metadata":{"additionalProperties":{"type":"string"},"type":"object","title":"Metadata","description":"Set of key-value pairs to be attached to the new agent. This can be useful for storing additional information about the agent in a structured format.  The agent has no knowledge of this information.","default":{}}},"additionalProperties":false,"type":"object","title":"UI Configuration","description":"Configuration for this agent in the Artificial Agency web UI.  The agent is\ncompletely unaware of this configuration, and none of these values should be used\nin game/agent interactions."},"bagel__api__methods__add_messages__Params":{"properties":{"messages":{"items":{"oneOf":[{"$ref":"#/components/schemas/ContentMessage"},{"$ref":"#/components/schemas/KVMessage"},{"$ref":"#/components/schemas/KVDelTreeMessage"},{"$ref":"#/components/schemas/PuppeteerMessage"}],"discriminator":{"propertyName":"message_type","mapping":{"ContentMessage":"#/components/schemas/ContentMessage","KVDelTreeMessage":"#/components/schemas/KVDelTreeMessage","KVMessage":"#/components/schemas/KVMessage","PuppeteerMessage":"#/components/schemas/PuppeteerMessage"}}},"type":"array","title":"Messages","description":"New messages to the agent.","default":[]}},"additionalProperties":false,"type":"object","title":"Params"},"bagel__api__methods__clone_session__Params":{"properties":{"moment_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Moment Id","description":"ID of the moment to clone all agents in this session at.  Must be a moment within the original session.  If null, clone all agents at the most recent moment in the session. Mutually exclusive with agent_moments."},"agent_moments":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object"},{"type":"null"}],"title":"Agent Moments","description":"A dictionary mapping agent IDs to the moment IDs they should be cloned at. Each moment must be within the original session. Only the agents included in this dictionary will be cloned; omitted agents will be dropped from the new session. If null, default to cloning all agents at the moment specified by moment_id. Mutually exclusive with moment_id."},"project_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Project Id","description":"ID of a project to attribute the new session to, or null to use the project ID associated with the original session."},"metadata":{"additionalProperties":{"type":"string"},"type":"object","title":"Metadata","description":"Set of key-value pairs to be attached to the new session. This can be useful for storing additional information about the object in a structured format.","default":{}},"expires_in":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Expires In","description":"A number of seconds that the new session should remain active for. After this time has expired, requests to generate behavior within this session will fail. If null, this session will not be limited by time.","default":10800},"max_requests":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Max Requests","description":"A number of requests that the new session should remain active for. After this number of requests have been made, requests to generate behavior within this session will fail. If null, this session will not be limited by a number of requests."}},"additionalProperties":false,"type":"object","title":"Params"},"bagel__api__methods__create_session__Params":{"properties":{"project_id":{"type":"string","title":"Project Id","description":"ID of a project to attribute the new session to."},"metadata":{"additionalProperties":{"type":"string"},"type":"object","title":"Metadata","description":"Set of key-value pairs to be attached to the new session. This can be useful for storing additional information about the object in a structured format.","default":{}},"expires_in":{"anyOf":[{"type":"integer","exclusiveMinimum":0.0},{"type":"null"}],"title":"Expires In","description":"A number of seconds that the new session should remain active for.\n\nAfter this time has expired, requests to generate behavior within this session will fail. If null, this session will not be limited by time.","default":10800},"max_requests":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Max Requests","description":"A number of requests that the new session should remain active for.\n\nAfter this number of requests have been made, requests to generate behavior within this session will fail. If null, this session will not be limited by a number of requests."}},"additionalProperties":false,"type":"object","required":["project_id"],"title":"Params"},"bagel__api__methods__generate_function_call__FunctionCallGenerated__FunctionCall":{"properties":{"id":{"type":"string","title":"Id","description":"An identifier that can be used to provide the result of this function call."},"name":{"type":"string","title":"Name","description":"The name of the function that the agent has chosen to call."},"args":{"type":"object","title":"Args","description":"The arguments that the agent is providing to the chosen function."}},"type":"object","required":["id","name","args"],"title":"FunctionCall","description":"A function call generated by the LLM, to be executed by the client."},"bagel__api__methods__generate_function_call__Params":{"properties":{"messages":{"items":{"oneOf":[{"$ref":"#/components/schemas/ContentMessage"},{"$ref":"#/components/schemas/KVMessage"},{"$ref":"#/components/schemas/KVDelTreeMessage"},{"$ref":"#/components/schemas/PuppeteerMessage"}],"discriminator":{"propertyName":"message_type","mapping":{"ContentMessage":"#/components/schemas/ContentMessage","KVDelTreeMessage":"#/components/schemas/KVDelTreeMessage","KVMessage":"#/components/schemas/KVMessage","PuppeteerMessage":"#/components/schemas/PuppeteerMessage"}}},"type":"array","title":"Messages","description":"New messages to the agent.","default":[]},"functions":{"items":{"$ref":"#/components/schemas/FunctionDescription"},"type":"array","title":"Functions","description":"Descriptions of the functions that the agent can choose from."},"cue":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cue","description":"Optional text that can be used to prompt the agent."},"forced_function":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Forced Function","description":"If non-null, forces the agent to choose the function with the given name. A function with this name must exist in the `functions` parameter."}},"additionalProperties":false,"type":"object","required":["functions"],"title":"Params"},"bagel__api__methods__generate_json__Params":{"properties":{"messages":{"items":{"oneOf":[{"$ref":"#/components/schemas/ContentMessage"},{"$ref":"#/components/schemas/KVMessage"},{"$ref":"#/components/schemas/KVDelTreeMessage"},{"$ref":"#/components/schemas/PuppeteerMessage"}],"discriminator":{"propertyName":"message_type","mapping":{"ContentMessage":"#/components/schemas/ContentMessage","KVDelTreeMessage":"#/components/schemas/KVDelTreeMessage","KVMessage":"#/components/schemas/KVMessage","PuppeteerMessage":"#/components/schemas/PuppeteerMessage"}}},"type":"array","title":"Messages","description":"New messages to the agent.","default":[]},"schema":{"$ref":"#/components/schemas/SchemaRoot","description":"A JSON schema that the result should satisfy."},"cue":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cue","description":"Optional text that can be used to prompt the agent."}},"additionalProperties":false,"type":"object","required":["schema"],"title":"Params"},"bagel__api__methods__generate_text__Params":{"properties":{"messages":{"items":{"oneOf":[{"$ref":"#/components/schemas/ContentMessage"},{"$ref":"#/components/schemas/KVMessage"},{"$ref":"#/components/schemas/KVDelTreeMessage"},{"$ref":"#/components/schemas/PuppeteerMessage"}],"discriminator":{"propertyName":"message_type","mapping":{"ContentMessage":"#/components/schemas/ContentMessage","KVDelTreeMessage":"#/components/schemas/KVDelTreeMessage","KVMessage":"#/components/schemas/KVMessage","PuppeteerMessage":"#/components/schemas/PuppeteerMessage"}}},"type":"array","title":"Messages","description":"New messages to the agent.","default":[]},"cue":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cue","description":"Optional text that can be used to prompt the agent."}},"additionalProperties":false,"type":"object","title":"Params"},"bagel__api__params__ContentMessage__FunctionCall":{"properties":{"id":{"type":"string","title":"Id","description":"The ID of a generate_function response."},"type":{"$ref":"#/components/schemas/Type","description":"The client-side outcome of attempting to execute the generated function."}},"additionalProperties":false,"type":"object","required":["id","type"],"title":"FunctionCall"}}},"tags":[{"name":"Messages","x-displayName":"Agent Messages","description":"\n\n\nAgent messages allow the client to send state updates to the agent.  Which messages an\nagent accepts and how these messages are interpreted is determined by the agent's\nconfiguration.\n\nThe word 'message' is just a shorthand for 'Agent message'.\nAny time you see the word 'message' in this documentation, it refers to an Agent message.\n\nAll messages include these base fields:\n\n```json\n{\n  \"message_type\": \"...\", // the static string identifying the message type\n  \"channels\": [\"...\"],   // the channels to send this message on\n  \"ignorable\": false     // When false, must be accepted by a component for the request to be valid\n}\n```\n\nSpecific message types may include additional fields.\n\n\n## ContentMessage\n\nA message that contains unstructured content, such as agent perceptions.  Most components\nthat accept this message will accumulate the content over time.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/ContentMessage\" />\n\n## KVMessage\n\nA message that contains a key-value pair.  When used with a store that supports\nhierarchical keys, the key can be a path to a nested value.  Most components that accept\nthis message will only track the most recent value for each key.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/KVMessage\" />\n\n## KVDelTreeMessage\n\nA message that contains a key that should be deleted from a store that supports\nhierarchical keys.  Components that accept this message should remove any values or\nsub-keys associated with the key, and clean up any nodes that are consequently empty.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/KVDelTreeMessage\" />\n\n## PuppeteerMessage\n\nA message to a puppeteer component that contains the ID of a specific puppet, and a\nlist of messages related to that puppet.  Puppeteer components know how to handle\ndata for multiple puppets concurrently, but will silently ignore messages in the list\nthat they do not accept. \n\n<SchemaDefinition schemaRef=\"#/components/schemas/PuppeteerMessage\" />\n\n            "}]}